$color-white: #ffffff;
$color-black: #000000;

$color-primary: #4791ff;

$color-background-primary: #0F1014;
$color-background-secondary: #22262E;

$color-split-line: #383F4D;

$color-font-default: white;
$color-font-primary: $color-primary;

// --------------------------------- 已下样式从老项目复制，可能用不到，要删除
$color-gray-1: #ffffff;
$color-gray-2: #fafafa;
$color-gray-3: #f5f5f5;
$color-gray-4: #f0f0f0;
$color-gray-5: #d9d9d9;
$color-gray-6: #bfbfbf;
$color-gray-7: #8c8c8c;
$color-gray-8: #595959;
$color-gray-9: #434343;
$color-gray-10: #262626;
$color-gray-11: #1f1f1f;
$color-gray-12: #191919;
$color-gray-13: #141414;
$color-gray-14: #000000;

$color-anchor-hover: #006EFF;
$color-background: #17181A;
$color-background-1: rgba(250, 249, 241, 0.05);
$color-background-hover: rgba(250, 249, 241, 0.1);
